/* temporary styling ignore this -------------> */

.left-container {
    min-width: 10rem;
    height: 100%;
    overflow: hidden;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    background-color: var(--color-white);
}

.main-container {
    width: 80vw;
    height: 100%;
    padding: 1.5rem;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #eff6ff;
}

.right-container {
    min-width: 45rem;
    height: 100%;
    overflow: hidden;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    background-color: var(--color-white);
}

.right-container-scroll {
    overflow: hidden;
    overflow-y: scroll;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header'
        'left1 center1 right1'
        'left2 center2 right2';
    gap: 1.5rem;
}

.grid-container > div {
    padding: 0.5rem;
}

.item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7 {
    border-radius: 1rem;
    transition: all 0.5s;
}

.item-hover:hover {
    box-shadow: var(--shadow);
}

.item-1 {
    grid-area: header;
}

.item-2 {
    grid-area: left1;
    background-color: var(--color-white);
}

.item-3 {
    grid-area: center1;
    background-color: var(--color-white);
}

.item-4 {
    grid-area: right1;
    background-color: var(--color-white);
}

.item-5 {
    grid-area: left2;
    background-color: var(--color-white);
}

.item-6 {
    grid-area: center2;
    background-color: var(--color-white);
}

.item-7 {
    grid-area: right2;
    background-color: var(--color-white);
}

.active-quiz {
    background-color: #eff6ff;
    box-shadow: var(--shadow);
}

.search-bar {
    width: 40%;
    padding: 0.8rem 1.2rem;
    border: 1px solid var(--color-primary);
    border-radius: 2rem;
    background-color: #eff6ff;
}

.search-bar > input {
    width: 100%;
    border-style: none;
    outline-style: none;
    background-color: #eff6ff;
}

.custom-margin {
    margin-top: 4rem;
}

.app-name {
    margin-top: 1.5rem;
    color: var(--color-primary-dark);
}

.quiz-container {
    width: 100%;
    /* height: 20rem; */
    border-radius: 1.5rem;
    /* background-color: royalblue; */
}

.quiz-image {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.progress-bar {
    width: 100%;
}

.option {
    margin: 0 1rem;
    padding: 0.5rem 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid royalblue;
}

.option-correct {
    background-color: #dbeafe;
}

.option-wrong {
    background-color: #fee2e2;
}

.option-correct-icon {
    color: green;
}

.option-wrong-icon {
    color: red;
}

.parent-container {
    width: 100vw;
    height: 100vh;
    background-color: #dbeafe;
}

.border {
    border: 2px solid royalblue;
}

.header {
    height: 10vh;
    display: flex;
    align-items: center;
}

.title {
    color: var(--color-primary-dark);
}

.main-content {
    height: 90vh;
}

.nav {
    width: 5vw;
    padding-top: 3rem;
}

.content-home {
    width: 95vw;
    border-top-left-radius: 3rem;
    overflow: hidden;
    overflow-y: scroll;
    background-color: var(--color-white);
}

.content-docs {
    width: 75vw;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    overflow: hidden;
    overflow-y: scroll;
    background-color: var(--color-white);
}

.sidebar {
    width: 20vw;
}

.flex-center {
    justify-content: flex-start;
    align-items: center;
}

.icon {
    font-size: 3rem;
    padding: 0.5rem;
    color: #60a5fa;
    cursor: pointer;
}

::-webkit-scrollbar {
    height: 0;
    width: 0;
    background: transparent;
}

.inner-shadow {
    box-shadow: inset 0 0 6px 0 #d3d3d3;
}

.sidebar-links {
    list-style: none;
    height: 80vh;
    overflow: hidden;
    overflow-y: scroll;
}

.sidebar-link-item {
    width: 100%;
    height: 4rem;
    display: flex;
    align-content: center;
    margin: 1rem 0;
}

.sidebar-link-item > a {
    text-decoration: none;
    color: inherit;
    padding: 1rem;
}

.logo-header {
    width: 4rem;
    height: 4rem;
    border-radius: 0.5rem;
}

.component {
    font-weight: 300;
}

.big-heading {
    font-size: 2.8rem;
    letter-spacing: 0.06em;
    font-weight: 600;
    color: var(--color-primary-dark);
}

.normal-heading {
    font-size: 2.2rem;
    letter-spacing: 0.06em;
    margin: 0.5rem 0;
    color: var(--color-primary-dark);
}

.small-heading {
    font-size: 1.8rem;
    letter-spacing: 0.06em;
    margin: 0.5rem 0;
    color: var(--color-primary-dark);
}

.demo-box {
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--color-primary-dark);
    border-radius: 1rem;
    overflow: hidden;
}

.code-container {
    width: 100%;
    min-height: 5rem;
    background-color: var(--color-primary-dark);
}

.code-snippet-container {
    width: 100%;
    min-height: 10rem;
    max-height: 25rem;
    padding: 1rem 1rem 0 1rem;
    background-color: #2b3e50;
    overflow: auto;
    border-radius: 1rem;
}

.iframe {
    width: 100%;
    height: auto;
    overflow: hidden;
    /* border: 1px solid var(--color-background); */
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.iframe-minHeight {
    min-height: 20rem;
}
